.nav-items h6{
    color: #A6A6A6;
    cursor: pointer;
}

.nav-items .active{
    color:black;
}

.logo{
    color: #54BD95;
}

.home-page-body-container{
    margin-top: 100px;
}

.demo{
    margin-top: 120px;
}

.boxx{
    background-image: radial-gradient(ellipse at 0% 0%, #b7faee, white, white,white, white);

    background-image: radial-gradient(ellipse at 100% 100%, #b7faee, white,white, white, #b7faee);
    
}